{% extends 'base.html.twig' %}

{% block title %}Shurtl – URL Shortener{% endblock %}

{% block body %}

    {% for flashError in app.flashes('success') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


<div class="container">
    <h1>Shurtl</h1><h2>— An easy way to shorten your URL! ✅</h2>

    <form method="post" action="/api/shortener">

        <div class="row">
            <input type="text" name="url" class="nine columns" placeholder="https://www.google.fr" />
            <input type="submit" name="Submit" value="Short it !" class="three columns button-primary" />
        </div>



        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <!-- Ou faire en AJAX je sais pas encore -->
    </form>

    <hr>
    <h2>Your shortened URLs</h2>
    {% if app.user %}
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Complete URL</th>
                <th>Shorten URL</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    {% else %}
        <center>
            To handle your shortened URL please <a href="/login">login</a> or <a href="/register">create an account</a> !
        </center>
    {% endif %}

</div>

{% endblock %}
